<head>
  
  <title>Partner - StayNPlay</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    </head>
<body>
    <section class="slide-wrapper">
        <div class="container">
            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                 </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item item1 active">
                        <div class="fill" style=" background-color:#48c3af;">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="/assets/app.png" alt="sofa" class="img img-responsive" />
                                </div>
                                <div class="carousel-desc">

                                    <h1>เรามุ่งมั้นที่จะสร้างและพัฒนาแอพลิเคชันที่ให้ผู้ประกอบการทุกท่านสามารถเข้าถึงเครืองมือทุกอย่างจากทุกที</h1>
                                    <p></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item2">
                        <div class="fill" style="background-color:#b33f4a;">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="/assets/stay.png" alt="white-sofa" class="img img-responsive" />
                                </div>
                                <div class="carousel-desc">

                                    <h1>เพราะเรารู้ว่าการถูกพบเห็นออนไลน์นั้นสำคัญต่อธุรกิจคุณมากแค่ไหน</h1>
                                    <p></p>
                                    <p></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item3">
                        <div class="fill" style="background-color:#7fc2f4;">
                            <div class="inner-content">
                                <div class="col-md-6">

                                    <div class="carousel-img">
                                        <img src="http://vocefalandoingles.com/wp-content/uploads/2016/09/sofa.png" alt="sofa" class="img img-responsive" />
                                    </div>
                                </div>

                                <div class="col-md-6 text-left">
                                    <div class="carousel-desc">

                                        <h2>เพิ่มที่พักของคุณบน ​StayNPlay วันนีและมั่นใจได้ว่า.. นักเดินทางส่วนมากจะหาคุณเจอ</h2>
                                        <p></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>

<!--     <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>มั่นใจได้ว่า.. นักเดินทางส่วนมากจะหาคุณเจอ</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">เพิ่มที่พักของคุณบน ​StayNPlay วันนี้</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">เริ่มเลย</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">เรารู้ว่าการถูกพบเห็นออนไลน์นั้นมีความสำคัญมากแค่ไหนกับธุรกิจของคุณ.. เราจึงสร้าง StayNPlay</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">เราจึงสร้าง StayNPlay</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Start</a>
          </div>
        </div>
      </div>
    </section> -->



    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">เครื่องมือสำหรับ Host</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">จัดการทั้งหมดออนไลน์</h3>
              <p class="text-muted mb-0">ไม่ผูกมัด - ไม่มีแรกเข้า - ไม่มีรายเดือน - ไม่ต้องลงโปรแกรม - ไม่จำกัดจำนวนที่พัก<p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-sort text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">เครื่องมือการตั้งราคา</h3>
              <p class="text-muted mb-0">ตั้งราคาล่วงหน้า เรทวันหยุด ปรับขึ้นลงตามจำนวนผู้เข้าพัก </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-calendar text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">บริหารจัดการวันว่าง</h3>
              <p class="text-muted mb-0">อัพเดทปฎิทินและสถานะการจองได้เพียงไม่กี่คลิก</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-comments text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Direct Booking</h3>
              <p class="text-muted mb-0">เชื่อมต่อกับลูกค้า รวดเร็วทันใจ</p>
            </div>
          </div>
        </div>
      </div>
    </section>

<div class="text-xs-center" style="color: #fff; background-color: #f06292; min-height: 100px; padding: 65px;">
  <h1 style="font-size: 3rem;">Andriod และ iOS app</h1>
  <p class="lead" style="font-size: 1.8rem;">
    <strong>Comming Soon!
  </p>
</div>

<div class="container">
  <div class="row">
        <div class="max-box">
            <div class="col-md-4">
                <h4>ใครบ้างที่สามารถใช้งานเครื่องมือเหล่านี้?</h4>
                <p>ผู้ประกอบการบ้านพักและรีสอร์ท ผู้ประกอบการโรงแรม เจ้าของเกสเฮาส์ เจ้าของคอนโด</p>
            </div>
            <div class="col-md-4">
                <h4>StayNPlay คิดค่าบริการอย่างไร?</h4>
                <p>ค่าบริการ StayNPlay เริ่มต้นที่ 10%</p>
            </div>
            <div class="col-md-4">
                <h4> ฉันจะรู้ได้อย่างไรว่ามีการจอง?</h4>
                <p>เมื่อลูกค้าต้องการจอง ท่านจะได้รับ SMS แจ้งเตือนให้ทำการอนุมัติการจองดังกล่าว เมื่อทุกอย่างเป็นไปตามเงื่อนไขที่ท่านได้ระบุ โดยท่านสามารถติดต่อผู้จองได้ตลอดเวลาผ่านระบบข้อความบน StayNPlay</p>
            </div>   
        </div>

        <div class="max-box">
            <div class="col-md-4">
                <h4>ฉันจะได้เงินเมื่อไหร่?</h4>
                <p> ท่านมีหน้าที่ในการสื่อสารและติดตามการจองที่เกิดขึ้นบนระบบ ท่านคือผู้ที่กำหนดเงื่อนไขในการจอง รวมถึงการระบุนโยบายการยกเลิกการจองให้ชัดเจน</p>
            </div>
            <div class="col-md-4">
                <h4> เกิดอะไรขึ้นเมื่อลูกค้ายกเลิกการจอง?</h4>
                <p>ในกรณีที่ลูกค้ายกเลิกการจอง เราจะแจ้งให้ท่านทราบและปลดบล็อคปฎิทินโดยอัตโนมัติเพื่อให้แขกท่านอื่นสามารถจองได้</p>
            </div>
            <div class="col-md-4">
                <h4> StayNPlay มีวิธีกรองลูกค้าเช่นไร?</h4>
                <p>สมาชิก StayNPlay จะสามารถทำการจองผ่านระบบได้เมื่อได้ยืนยันที่อยู่อีเมลและเบอร์มือถือ</p>
            </div>
          
        
            
        </div>
  </div>
</div>


 <!--    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/forwho.jpg">
              <img class="img-fluid" src="img/portfolio/fullsize/forwho.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    ใครบ้างที่สามารถใช้งานเครื่องมือเหล่านี้?
                  </div>
                  <div class="project-name">
                    ผู้ประกอบการบ้านพักและรีสอร์ท ผู้ประกอบการโรงแรม เจ้าของเกสเฮาส์ เจ้าของคอนโด
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/infographic-10percent.png">
              <img class="img-fluid" src="img/portfolio/fullsize/infographic-10percent.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    StayNPlay คิดค่าบริการอย่างไร?
                  </div>
                  <div class="project-name">
                    ค่าบริการ StayNPlay เริ่มต้นที่ 10%
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/big_picture_sales_bg.png">
              <img class="img-fluid" src="img/portfolio/fullsize/big_picture_sales_bg.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    ฉันจะรู้ได้อย่างไรว่ามีการจอง?
                  </div>
                  <div class="project-name">
                    เมื่อลูกค้าต้องการจอง ท่านจะได้รับ SMS แจ้งเตือนให้ทำการอนุมัติการจองดังกล่าว เมื่อทุกอย่างเป็นไปตามเงื่อนไขที่ท่านได้ระบุ โดยท่านสามารถติดต่อผู้จองได้ตลอดเวลาผ่านระบบข้อความบน StayNPlay
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/vector-background.png">
              <img class="img-fluid" src="img/portfolio/fullsize/vector-background.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                     ฉันจะได้เงินเมื่อไหร่?
                  </div>
                  <div class="project-name">
                    ท่านมีหน้าที่ในการสื่อสารและติดตามการจองที่เกิดขึ้นบนระบบ ท่านคือผู้ที่กำหนดเงื่อนไขในการจอง รวมถึงการระบุนโยบายการยกเลิกการจองให้ชัดเจน
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/vector-background.png">
              <img class="img-fluid" src="img/portfolio/fullsize/vector-background.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    เกิดอะไรขึ้นเมื่อลูกค้ายกเลิกการจอง?
                  </div>
                  <div class="project-name">
                    ในกรณีที่ลูกค้ายกเลิกการจอง เราจะแจ้งให้ท่านทราบและปลดบล็อคปฎิทินโดยอัตโนมัติเพื่อให้แขกท่านอื่นสามารถจองได้
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/vector-background.png">
              <img class="img-fluid" src="img/portfolio/fullsize/vector-background.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    StayNPlay มีวิธีกรองลูกค้าเช่นไร?
                  </div>
                  <div class="project-name">
                    สมาชิก StayNPlay จะสามารถทำการจองผ่านระบบได้เมื่อได้ยืนยันที่อยู่อีเมลและเบอร์มือถือ
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section> -->


 <!--    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">ดาวน์โหลดแอปสำหรับ Andriod และ iOS ได้.. เร็วๆนี้</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Comming soon.</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">StayNPlay คือแหล่งอ้างอิงที่ถูกที่สุดที่คุณจะสามารถนึกได้</h2>
            <hr class="my-4">
            <p class="mb-5">เริ่มเลยวันนี้</p>
          </div>
        </div> -->
        <div class="row">
        
          <div class="col-lg-8 mx-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:partner@staynplay.club">partner@staynplay.club</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>

<script>
  $(document).ready(function(){
// invoke the carousel
    $('#myCarousel').carousel({
      interval:6000
    });

// scroll slides on mouse scroll 
$('#myCarousel').bind('mousewheel DOMMouseScroll', function(e){

        if(e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
            $(this).carousel('prev');
      
      
        }
        else{
            $(this).carousel('next');
      
        }
    });

//scroll slides on swipe for touch enabled devices 

  $("#myCarousel").on("touchstart", function(event){
 
        var yClick = event.originalEvent.touches[0].pageY;
      $(this).one("touchmove", function(event){

        var yMove = event.originalEvent.touches[0].pageY;
        if( Math.floor(yClick - yMove) > 1 ){
            $(".carousel").carousel('next');
        }
        else if( Math.floor(yClick - yMove) < -1 ){
            $(".carousel").carousel('prev');
        }
    });
    $(".carousel").on("touchend", function(){
            $(this).off("touchmove");
    });
});
    
});
//animated  carousel start
$(document).ready(function(){

//to add  start animation on load for first slide 
$(function(){
    $.fn.extend({
      animateCss: function (animationName) {
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        this.addClass('animated ' + animationName).one(animationEnd, function() {
          $(this).removeClass(animationName);
        });
      }
    });
       $('.item1.active img').animateCss('slideInDown');
       $('.item1.active h2').animateCss('zoomIn');
       $('.item1.active p').animateCss('fadeIn');
       
});
  
//to start animation on  mousescroll , click and swipe


 
     $("#myCarousel").on('slide.bs.carousel', function () {
    $.fn.extend({
      animateCss: function (animationName) {
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        this.addClass('animated ' + animationName).one(animationEnd, function() {
          $(this).removeClass(animationName);
        });
      }
    });
  
// add animation type  from animate.css on the element which you want to animate

    $('.item1 img').animateCss('slideInDown');
    $('.item1 h2').animateCss('zoomIn');
    $('.item1 p').animateCss('fadeIn');
    
    $('.item2 img').animateCss('zoomIn');
    $('.item2 h2').animateCss('swing');
    $('.item2 p').animateCss('fadeIn');
    
    $('.item3 img').animateCss('fadeInLeft');
    $('.item3 h2').animateCss('fadeInDown');
    $('.item3 p').animateCss('fadeIn');
    });
});
</script>