
<%= form_for(@room, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="d-flex">
    <div class="ml-auto">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", rooms_path, class: 'btn btn-outline-default' %>
    </div>
  </div>
<% end %>

