<p>สวัสดีค่ะ <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>เราส่งเมล์หาคุณเพื่อที่จะแจ้งให้ทราบว่าคุณได้แจ้งเปลี่ยนที่อยู่อีเมล์ของคุณเป็น <%= @resource.unconfirmed_email %>.</p>
  <p>ทีมงาน StayNPlay</p>
<% else %>
  <p>แจ้งยืนยันการเปลี่ยนที่อยู่อีเมล์บัญชี StayNPlay ของคุณเป็น <%= @resource.email %>.</p>
  <p>ทีมงาน StayNPlay</p>
<% end %>
