<p>สวัสดีค่ะ  <%= @resource.email %>!</p>

<p>ใครบางคนต้องการให้เราส่งลิ้งค์เพื่อตั้งรหัสใหม่ กรุณาคลิ๊กที่ลิ้งค์ด้านล่างเพื่อตั้งรหัสใหม่ </p>

<p><%= link_to 'ตั้งรหัสใหม่', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>แต่หากใครคนนั้นไม่ใช่คุณ ก็ไม่จำเป็นต้องตั้งรหัสใหม่ให้ยุ้งยาก</p>
<p>รหัสผ่านของคุณยังคงเป็นรหัสเดิม นอกเสียจากคุณจะตั้งรหัสใหม่ด้วยการคลิ๊กที่ลิ้งค์ด้านบน</p>

<p>ทีมงาน StayNPlay</p>
